body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  background-color: white;
  text-align: center;
  // height: auto;
  // width: auto;
  border-style: solid;
  border-width: thick;
  border-color: grey;
  box-sizing: border-box;
  padding: 5px;
  font-size: 10px;
  resize: both;
}

.title-bar {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  align-items: left;
}

h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: left;
}
i {
  padding: 5px;
}

.text-area {
  min-height: 160px;
  text-align: left;
  height: 90%;
  width: 90%;
  textarea {
    min-height: 160px;
    resize: both;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
  }
}
