body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: white;
  text-align: center;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: thick;
  border-color: grey;
  padding: 5px;
  font-size: 10px;
}

.title-bar {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: left;
}


.title {
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
}

.text-area {
  text-align: left;
  font-size: 15px;
  min-height: 160px;
  min-width: 230px;

}

h4 {
  display: flex;
  justify-content: flex-end;
  // padding: 9px;

}
