body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: #AFEEEE;
  margin: 50px;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  background-color: white;
  text-align: left;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
  box-sizing: border-box;
  padding: 5px;
}

.title-bar {
  display: flex;
  align-items: left;
  justify-content: flex-end;
  margin-left: 10px;
}

h1 {
  margin-top: 7px;
}

i {
  padding: 8px;
}

//inheriting for width and height found on http://stackoverflow.com/questions/9374509/100-vs-inherit
.text-area {
  min-height: 160px;
  text-align: left;
  height: 100%;
  width: 100%;

  textarea {
    min-height: 160px;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    font-size: 15px;
  }
}

// input field
input{
  padding: 10px 10px;
  margin: 4px 0.01px;
  border: 1px solid;
  border-color: white;
  border-radius: 2px;
  font: inherit;
  font-size: 25px;
  color: black;
}

button {
  background-color: #ffb732;
  border-radius: 2px;
  border: thin;
  color: white;
  padding: 11px 10px;
  text-align: center;
  text-decoration: none;
  font: inherit;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover:not(active) {
  background-color: #ffa500;
}
